body {
    background: url("open_bottle.jpeg");
    background-size: cover;
    margin: 0 auto;
}
main {
    display: flex;
    flex-direction: column;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: 'Squada One', cursive;
}
h3{
    text-align: center;
    color: white;
    font-family: 'Squada One', cursive;
}
#questionBox {
    height: 150px;
    width: 300px;
    border: solid black 5px;
    background-color: white;
    text-align: center;
    line-height: 150px;
    font-family: 'Beth Ellen', cursive;   
}
.answer {
    height: 150px;
    width: 550px;
    border: solid black 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: white;
    margin: 10px 0 10px 0;
    font-family: 'Beth Ellen', cursive;
}
h2 {
    display: block;
    text-align: center;
    color: white;
    margin: 0 auto;
    font-family: 'Squada One', cursive;
}
#top {
    margin: 0 auto;
    text-align: center;
}
#bottom {
    margin: 0 auto;
}
#choices {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    padding: 0 0 0 0;
    background-color: rgba(255, 255, 255, 0);
}
.answer {
    margin: 0 auto;
}
div {
    font-size: 2pc;
}