body {
    background-color: white;
}
main {
    display: flex;
    flex-direction: row;
}
#questionBox {
    height: 150px;
    width: 600px;
    border: solid black 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    
}
.answer {
    height: 150px;
    width: 600px;
    border: solid black 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 150px;
    background-color: white;
}
h2 {
    text-align: center;
}
#left {
    margin: 0 20px 0 0;
}
#right {
    margin: 0 0 0 20px;
}
#questionBox {
    vertical-align: middle;
}